#contact{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#contact .details{
    width: 40%;
}

#contact .details span,
#form-detail form span{
    font-size: 12px;
}

#contact .details h2,
#form-detail form h2{
    font-size:26px;
    line-height: 35px;
    padding: 20px 0;
}

#contact .details h3{
    font-size: 16px;
    padding-bottom: 15px;
}

#contact .details li{
    list-style: none;
    display: flex;
    padding: 10px 0;
}

#contact .details li i{
    font-size: 14px;
    padding-right: 10px;
}

#contact .details li p{
    margin: 0;
    font-size: 14px;
}

#contact .map {
    width: 55%;
    height: 400px;
}

#contact .map iframe{
    width: 100%;
    height: 100%;
}

#form-detail{
    margin: 30px;
    padding: 70px;
    border: 1px solid #e1e1e1;
}

#form-detail form{
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#form-detail form input,
#form-detail form textarea{
    width: 100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #e1e1e1;
}

#form-detail form button{
    width: 100px;
    height: 40px;
    background-color: #088174;
    color: #fff;
    white-space: nowrap;
    border: 1px solid transparent;
    border-radius: 5px;
    font-weight: 700;
}
